.sec_banner{
    display: flex;
    justify-content: center;

}

.sec_banner .container{
    background-color: var(--White);
    margin: 0 40px 140px;
    border-radius: 25px;
    display: flex;
    max-width: 900px;
}

.sec_banner .container .text{
    margin: 30px 60px 60px 60px;
}

.sec_banner .container h1{
    color: var(--Color1);
}
.sec_banner .container h3{
    color: var(--Color3);
    margin-bottom: 40px;
    margin-top: -20px;
}
.sec_banner .container a,
.sec_banner .container a:visited{
    background-color: var(--Color1);
    border-radius: 5px;
    padding: 10px 40px;
    transition: .8s;
}
.sec_banner .container a:hover,
.sec_banner .container a:focus{
    color: var(--White);
    background-color: var(--Color3);
}

.sec_banner .container img{
    position: relative;
    right: -5px;
    top: 30px;
    height: 350px;
}